@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #FAF9F6;
  --foreground: #222222;
}

@theme {
  --font-sans: var(--font-jakarta), sans-serif;
  --font-mono: var(--font-jetbrains), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}